@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
    @font-face{
        font-family: $font-family;
        src: url('#{$file-path}.woff2');
        font-weight: $weight;
        font-style: $style;
    
    }
}

@include font-face("Gilroy", "../fonts/Gilroy-Regular", 400);
@include font-face("Gilroy", "../fonts/Gilroy-Bold", 700);


