@import "fonts";

.wrapper {
  max-width: 140rem;
  margin: 0 auto;
}

.small-text {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: $t-black;

  &--white {
    color: $t-white;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.btn-text {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $t-white;

  &--btnback {
    color: $t-black;
  }

  &--telback {
    font-size: 24px;
    line-height: 148%;
    color: $t-black;
  }

  &--lastback {
    font-size: 12px;
    line-height: 15px;
  }
}

.headline-text {
  display: inline-block;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 134%;
  color: $t-black;

  &__tred {
    color: $t-red;
  }

  &--subheadline {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 142%;

    &__tred {
      color: $t-red;
      font-weight: bold;
    }

  }
}

.callback-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #154674;
  box-shadow: 0px 4px 15px rgba(45, 100, 157, 0.7);
  border-radius: 19.5px;
  width: 20.4rem;
  height: 3.9rem;
  position: relative;
  z-index: 2;
  border: none !important;
  outline: none !important;

  &:hover {
    background: transparent;
    box-shadow: none;

    &::before {
      box-shadow: none;
    }
  }

  &:focus {
    &::before {
      background: linear-gradient(180deg, #5A9BD7 0%, #4C84C1 100%);
      box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.4);
    }

  }

  &::before {
    z-index: -1;
    position: absolute;
    display: block;
    content: "";
    top: -.2rem;
    right: 0;
    width: 204px;
    height: 39px;
    background: linear-gradient(180deg, #3774AD 0%, #265A93 100%);
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.4), 0px 4px 15px rgba(45, 100, 157, 0.7);
    border-radius: 19.5px;
  }

  &--manager {
    width: 342px;
    height: 84px;
    border-radius: 42px;

    &::before {
      border-radius: 42px;
      width: 342px;
      height: 84px;
    }
  }

  &--videolink {
    width: 13.2rem;
    height: 13.2rem;
    border-radius: 50%;

    &::before {
      width: 13.2rem;
      height: 13.2rem;
      border-radius: 50%;
    }
  }

  &--vklink {
    width: 8.4rem;
    height: 8.4rem;
    border-radius: 42px;

    &::before {
      background: linear-gradient(180deg, #7CA6D8 0%, #4E74A4 100%);
      box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.4);
      width: 8.4rem;
      height: 8.4rem;
      border-radius: 42px;
    }
  }

  &--callvk {
    width: 250px;
    height: 84px;
    border-radius: 42px;

    &::before {
      width: 250px;
      height: 84px;
      border-radius: 42px;
      background: linear-gradient(180deg, #7CA6D8 0%, #4E74A4 100%);
      box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.4);
    }
  }

  &--comercial {
    width: 44.9rem;
    height: 84px;
    border-radius: 42px;

    &::before {
      width: 44.9rem;
      height: 84px;
      border-radius: 42px;

    }
  }

  &--btncall {
    width: 253px;
    border-radius: 42px;
    height: 6.1rem;

    &::before {
      width: 253px;
      height: 6.1rem;
      border-radius: 42px;
    }
  }
}

.description-text {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142%;
  color: $t-black;

  &--formsubtext {
    font-size: 14px;
    line-height: 134%;
  }

  &--littletext {
    font-size: 14px;
    line-height: 148%;
  }

  &--partnertext {
    line-height: 148%;
  }

  &--timework {
    line-height: 148%;
    color: #C20029;
  }
}

.subtitle-headline {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 134%;
  color: $t-black;

  &__dot {
    font-weight: bold;
  }

  &--blocktext {
    font-size: 30px;
  }

  &--catalogtext {
    font-size: 24px;
    line-height: 148%;
  }

  &--formtext {
    font-size: 30px;
    font-weight: bold;
  }
}

.whatsuplogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
  background: #296500;
  box-shadow: 0px 4px 15px rgba(57, 193, 17, 0.6);
  border-radius: 42px;
  position: relative;
  z-index: 2;
  border: none !important;
  outline: none !important;

  &:hover {
    background: transparent;
    box-shadow: none;
  }

  &:focus {
    &:after {
      background: linear-gradient(180deg, #57ED2E 0%, #59AC16 100%);
      box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.4);
    }
  }

  &::after {
    top: -.3rem;
    position: absolute;
    display: block;
    content: "";
    z-index: -1;
    width: 84px;
    height: 84px;
    background: linear-gradient(180deg, #38CA11 0%, #357600 100%);
    box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.4);
    border-radius: 42px;
  }

  &-logo {
    display: block;
  }


}

.form-input {
  box-sizing: border-box;
  height: 84px;
  background: #EDF0F2;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 42px;
  border: none;
  outline: none;
  padding-left: 5rem;
  font-size: 16px;
  line-height: 19px;

  &::placeholder {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: $t-black;
    opacity: 0.5;
  }
}