@import "normalize";
@import "fonts";
@import "colors";
@import "items";
@import "./jquery.fancybox.css";
@import "slick-theme";
@import "slick";
@import "modals";




html {
  font-size: 10px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  padding-top: 2.8rem;
  display: flex;
  justify-content: space-between;

  .leftside {
    display: flex;
    align-items: center;
    width: 64.2rem;
    justify-content: space-between;

    .nav {

      &__link {
        padding-right: 5.1rem;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }

  .rightside {
    width: 43.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .address {
      border: 1px dashed $t-black;
      border-top: none;
      border-right: none;
      border-left: none;

      &__item {
        display: inline-block;
        padding-bottom: .8rem;
      }
    }

    .callback {
      display: flex;
      flex-direction: column;

      .phone {
        font-family: "Gilroy", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: $t-black;
        margin-bottom: .8rem;

        &__icon {
          display: inline-block;
          padding-right: 1.6rem;
        }
      }
    }
  }
}

.wholesale {
  padding-top: 12.4rem;
  display: flex;
  justify-content: space-between;
  position: relative;

  .left-side {

    &__headline {
      max-width: 68.9rem;
    }

    &__description {
      margin-top: 5.4rem;
      display: block;
      max-width: 71rem;
      padding-bottom: 7.8rem;
    }

    &__callback {
      display: flex;
      width: 44.6rem;
      justify-content: space-between;

      &-whatsup {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 84px;
        height: 84px;
        background: #296500;
        box-shadow: 0px 4px 15px rgba(57, 193, 17, 0.6);
        border-radius: 42px;
        position: relative;
        z-index: 2;

        &::after {
          top: -.3rem;
          position: absolute;
          display: block;
          content: "";
          z-index: -1;
          width: 84px;
          height: 84px;
          background: linear-gradient(180deg, #38CA11 0%, #357600 100%);
          box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.4);
          border-radius: 42px;
        }

        &-logo {
          display: block;
        }
      }
    }
  }

  .right-side {
    display: flex;
    height: min-content;
    align-items: center;

    &__link {
      display: block;
      padding-right: 3.3rem;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  &::after {
    z-index: -1;
    position: absolute;
    top: 14rem;
    right: -25rem;
    content: "";
    background: url(..//img/Torque_products.jpg) no-repeat;
    width: 1068px;
    height: 712px;
  }
}

.numeral {
  margin-top: 18.3rem;
  background: linear-gradient(117.68deg, #E8E8E8 -13.37%, #FFFFFF 56.93%, #D7D7D7 129.4%);
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  padding: 6rem 0 7.2rem;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-headline {}

    &-value {
      font-family: "Gilroy", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 6rem;
      line-height: 142%;
    }
  }
}

.choice {
  padding-top: 10.8rem;

  .container {

    .headline {
      text-align: center;
      padding-bottom: 4.7rem;
    }

    .worth-wrap {

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        height: 23rem;
        justify-content: center;
        margin-bottom: 5rem;

        &-logo {
          display: flex;
          justify-content: center;
          align-items: center;

          &-pic {}

        }

        &-subtext {
          padding-top: 4rem;
          max-width: 24.6rem;
          text-align: center;
          display: block;

        }
      }
    }
  }
}

.how-works {
  padding-top: 16.1rem;
  position: relative;

  .headline {
    text-align: center;
  }

  .sub-description {
    padding-top: 3rem;
    max-width: 86rem;
    margin: 0 auto;
    display: block;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 148%;
    text-align: center;
    color: $t-black;
  }

  &::after {
    z-index: -1;
    position: absolute;
    right: 0;
    content: "";
    background: url(..//img/off-1.jpg);
    width: 538px;
    height: 1173px;
    top: 20rem;
  }

  &::before {
    top: 41rem;
    z-index: -1;
    position: absolute;
    right: 0;
    content: "";
    background: url(..//img/vid-1.png);
    width: 50%;
    height: 1478px;
    left: 0;
    background-repeat: no-repeat;
  }

  .todo-list {
    padding-top: 11.9rem;
    max-width: 103.3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__videoside {

      &-link {}
    }

    &__process {

      &-item {
        display: flex;
        align-items: flex-start;
        padding-bottom: 6rem;

        &:last-of-type {
          padding-bottom: 0;
        }

        &-logo {
          width: 3rem;
          height: 3rem;
          background: linear-gradient(138.37deg, #FF7A00 14.02%, #C20029 85.1%);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-textside {
          display: flex;
          flex-direction: column;
          max-width: 45.2rem;
          padding-left: 2rem;

          &-headline {
            font-family: "Gilroy", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 134%;
            /* or 32px */

            color: $t-black;
          }
        }
      }
    }

  }

  .assortment {
    padding-top: 9rem;

    .item {
      max-width: 92.7rem;
      margin: 0 auto;
      background: radial-gradient(47.61% 114.32% at 101.59% 100%, #DCDCDC 0%, #FFFFFF 100%);
      box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 7.8rem;

      &__headline {
        max-width: 53.6rem;
        display: inline-block;
        padding-top: 5.7rem;
        text-align: center;
      }

      &__pricelist {
        padding-top: 3.3rem;
        display: flex;

        &-linkprice {
          margin-right: 2rem;
        }
      }
    }
  }
}

.product-catalog {

  &__headline {
    padding-top: 17.8rem;
    text-align: center;
  }

  &__description {
    padding-top: 2.4rem;
    text-align: center;
    display: block;
    max-width: 81.2rem;
    margin: 0 auto;
  }

  .select-brand {
    padding-top: 5.5rem;
    display: flex;
    justify-content: center;

    .brand-choice {
      width: 1164px;
      height: 715px;
      box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
      border-radius: 40px;

      &__palka-container {
        padding-top: 9.3rem;
        display: flex;
        justify-content: center;

        &-big-palka {
          width: 553px;
          height: 45px;
          background: #EBF0F3;
          border-radius: 22.5px;
          position: relative;

          &-text {
            position: absolute;
            right: 40%;
            top: 30%;
            font-family: "Gilroy", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 134%;
            color: $t-black;

          }

          &-little-palka {
            width: 181px;
            height: 45px;
            background: linear-gradient(167.54deg, #FF7A00 14.02%, #C20029 85.1%);
            border-radius: 22.5px;
          }
        }
      }

      .form-question {
        padding-top: 4.2rem;

        &__headline {
          text-align: center;
        }

        &__item {
          padding-top: 3.3rem;
          max-width: 71rem;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          &-point {
            width: 84px;
            height: 84px;
            border: 1px solid #DDDDDD;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: .5rem;

            &:last-of-type {
              margin-bottom: 0;
            }
          }

          &-btn {
            padding-top: 5rem;
            width: 60rem;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 6.6rem;

            &-back {
              opacity: 0.4;
            }
          }
        }
      }
    }
  }
}

.quality-assurance {
  padding-top: 18rem;
  overflow: hidden;


  &__headline {
    text-align: center;
  }

  &__description {
    display: block;
    padding-top: 2.4rem;
    text-align: center;
    max-width: 102rem;
    margin: 0 auto;
  }

  .slider {
    padding-top: 8.3rem;
    max-width: 140rem;
    margin: 0 auto;

    &__item {
      text-align: center;

      &-img {
        max-width: 100%;
        vertical-align: top;
      }
    }

    .slick-slide {
      opacity: 0.4;
      transition: 0.5s;


      &.slick-active {
        opacity: 1;
        transition: 0.5s;

      }
    }

    .slick-list {
      overflow: unset;
    }

    .slick-next,
    .slick-prev {
      z-index: 10;
      right: -80px;
      display: flex;
      width: 66px;
      height: 66px;
      background: linear-gradient(138.37deg, #FF7A00 14.02%, #C20029 85.1%);
      box-shadow: 0px 4px 10px rgba(212, 36, 29, 0.4);
      border-radius: 50%;
      justify-content: center;

      &::before {
        content: "";
        display: block;
        width: .8rem;
        height: .8rem;
        border: 2px solid #FFFFFF;
        transform: rotate(50deg);
        border-left: none;
        border-bottom: none;
      }

      &:hover {
        background: linear-gradient(138.37deg, #FFA451 14.02%, #E32C52 85.1%)
      }

      &:focus {
        background: linear-gradient(138.37deg, #FFC289 14.02%, #FC6282 85.1%);
        outline: none;
        border: none;
      }
    }

    .slick-prev {
      left: -80px;

      &::before {
        transform: rotate(225deg);

      }
    }
  }
}

.slick-slide {
  padding: 0 10px;

}

.make-money {
  margin-top: 6.4rem;
  background: url(..//img/bg-hotite1.jpg);
  width: 100%;

  .about-money {
    padding-top: 9.4rem;
    padding-bottom: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text-side {
      max-width: 55rem;

      &-headline,
      &-text {
        display: block;
      }

      &-text {
        padding-top: 4rem;
      }
    }

    &__form-manager {
      padding-top: 6rem;
      width: 572px;
      border-radius: 40px;
      background: #FFFFFF;
      text-align: center;
      padding-bottom: 6rem;
      position: relative;

      &-headline {}

      &-subtitle {
        padding-top: .9rem;
        display: block;
        max-width: 32rem;
        margin: 0 auto;
      }

      .form-callback {
        padding-top: 4.4rem;
        max-width: 44.6rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;


        &__item {
          margin-bottom: 1.8rem;


          &:last-of-type {
            margin-bottom: 0;
          }
        }

        &__btn-sub {
          padding-top: 1.8rem;
          display: flex;
          justify-content: space-between;
        }

        &__subtext {
          max-width: 35.7rem;
          margin: 0 auto;
          display: block;
          padding-top: 4.4rem;
        }
      }

      &::before {
        position: absolute;
        content: "";
        background: url(..//img/money-top.png);
        width: 165px;
        height: 160px;
        top: -3.5rem;
        left: -8.2rem;
      }

      &::after {
        position: absolute;
        content: "";
        background: url(..//img/money-btm.png);
        width: 173px;
        height: 124px;
        right: -8.7rem;
        bottom: -2.6rem;
      }


    }
  }
}

.cooperate {
  padding-top: 18rem;

  &__headline {
    text-align: center;
  }

  .list-company {
    padding-top: 7.7rem;
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &__point {
      text-align: center;

      &-pic {
        vertical-align: top;
        width: 100%;
      }

      &-description {
        display: block;
        padding-top: 2rem;
      }
    }
  }

  .comercial-offer {
    padding-top: 6rem;
    display: flex;
    max-width: 55.3rem;
    margin: 0 auto;
    justify-content: space-between;

    &__get-offer {}
  }
}

.wholesale-purchase {
  margin-top: 15.4rem;
  background: linear-gradient(104.14deg, #E8E8E8 -4.52%, #FFFFFF 14.89%, #FFFFFF 73.15%, #D7D7D7 110.36%);
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  text-align: center;
  padding-bottom: 7.4rem;

  &__headline {
    padding-top: 6.4rem;
    text-align: center;
  }

  .whole-form {
    padding-top: 5.8rem;
    max-width: 123.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


    &__name,
    &__tel {
      width: 37.3rem;
    }

    &__link {
      border: none;
      outline: none;
    }

  }

  &__subtext {
    padding-top: 3.9rem;
    display: inline-block;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 134%;
    color: $t-black;
  }
}

.exclusive-distributor {
  margin-top: 22rem;
  background: url(..//img/vid-2.png);
  width: 100%;
  display: flex;
  align-items: center;

  .text-block {
    padding-top: 2.7rem;
    padding-left: 26rem;
    max-width: 90rem;
    padding-bottom: 13.1rem;

    &__description {
      max-width: 66rem;
      padding-top: 4rem;

      &-item {
        display: inline-block;
        padding-bottom: 4rem;

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }

  .watch-video {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__headline {
      display: inline-block;
      padding-bottom: 3rem;
    }


  }
}

.work-with {
  padding-top: 14.6rem;

  &__headline {
    text-align: center;
  }

  .partners {
    padding-top: 8.2rem;
    max-width: 118.6rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &__leftside,
    &__rightside {
      display: flex;
      flex-direction: column;
      width: 49.2rem;

      &-point {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3rem;

        &-text {
          max-width: 19.5rem;
        }

        &-img {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &__rightside {
      width: 50.2rem;

      &-point {
        padding-bottom: 2rem;

        &-img {
          width: 18.6rem;
        }
      }
    }

  }
}

.write-us {
  padding-top: 8.8rem;
  padding-left: 26rem;
  display: flex;

  &__contacts {

    &-subtext {
      display: block;
      padding-top: 1rem;
    }

    &-soc {
      padding-top: 3.7rem;
      max-width: 20.2rem;
      display: flex;
      justify-content: space-between;
    }

    &-address {
      padding-top: 8.4rem;
      display: flex;
      align-items: center;

      &-pic {}

      &-point {
        padding-left: 2.6rem;
        display: flex;
        flex-direction: column;
      }
    }

    &-callback {
      padding-top: 3.7rem;
      display: flex;
      align-items: center;

      &-link {
        margin-left: 2.2rem;
      }
    }
  }

  &__maps {
    padding-left: 6.9rem;
  }
}

#map {
  display: block;
  width: 1069px;
  height: 479px;
  border-radius: 40px 0px 0px 40px;
  -moz-border-radius: 40px 0px 0px 40px;
  -webkit-border-radius: 40px 0px 0px 40px;
  -khtml-border-radius: 40px 0px 0px 40px;
  border-radius: 40px 0px 0px 40px;
  overflow: hidden;
  position: relative;
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}

.discount {
  padding-top: 13.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__headline {}

  &__subtext {
    display: inline-block;
    padding-top: 2.2rem;
  }

  &__link {
    padding-top: 4.4rem;

    &-item {
      &-text {
        padding-left: 2rem;
      }

    }
  }
}

.footer {
  margin-top: 11rem;
  width: 100%;
  border-top: 1px solid #CECECE;

  .footer-wrap {
    padding-top: 4.7rem;
    max-width: 73rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.7rem;

    &__rightside {
      display: flex;
      align-items: center;

      &-text {
        display: inline-block;
        max-width: 10.1rem;
        padding-right: 1.8rem;
      }
    }
  }
}



@import "media";