.modal {
    display: none;
    width: 57.2rem;
    position: relative;
    border-radius: 40px;

}

.callback-modal{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;

    &__headline,&__description{
        display: block;
    }

    &__description{
        padding-top: .9rem;
        width: 32.2rem;
        margin: 0 auto;
    }

    .modal-call{
        display: flex;
        flex-direction: column;
        align-items:center;

        &__name,&__phone{
            width: 446px;
        }

        &__name{
            margin-top: 4.4rem;
        }

        &__phone{
            margin-top: 1.8rem;
        }

        &__btn{
            width: 100%;
            padding-top: 1.8rem;
            display: flex;
            justify-content: space-between;
            &-manager{
                border:none;
                outline: none;
            }
        }
    }

    &__subtext{
        max-width: 32.2rem;
        display: block;
        padding-top: 4.4rem;
        margin: 0 auto;
    }
}

.fancybox-content{
    padding: 6rem 6.3rem !important;
}